[submodule ".registry"]
	path = .registry
	url = https://github.com/mikabr/mikabr.r-universe.dev
	branch = HEAD
[submodule "ggpirate"]
	path = ggpirate
	url = https://github.com/mikabr/ggpirate
[submodule "jglmm"]
	path = jglmm
	url = https://github.com/mikabr/jglmm
[submodule "peekbankr"]
	path = peekbankr
	url = https://github.com/langcog/peekbankr
[submodule "rwebppl"]
	path = rwebppl
	url = https://github.com/mhtess/rwebppl
[submodule "wordbankr"]
	path = wordbankr
	url = https://github.com/langcog/wordbankr
